@charset "utf-8";

/* CSS Document */




@media screen and (max-width: 2500px) {

}


@media screen and (max-width: 1400px) {


}

@media screen and (max-width: 1100px) {

}
@media screen and (max-width: 900px) {


}
@media screen and (max-width: 850px) {
#coursepools h1  {
	font-size:30px;
}
#coursepools h2  {
	font-size:25px;
	}
#coursepools h3 {
	font-size:20px;
}

#adultcourses h1 {
	font-size:1.25em;;
}
#adultcourses h3 {
	font-size:1em;
}
#adultcourses h5 {
	font-size:.8em;
}
footer ul li  {
	font-size:12px;
}
nav ul li {
	font-size:1.85em;
}
#coursepoolleft {
	width:100%;
}
#coursepoolright {
	width:100%;
}
#adultcourseinfo {
	width:100%;
}
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 700px) {

}


@media screen and (max-width: 500px) {
	h1  {
	font-size:35px;
	}
h2  {
	font-size:15px;
	}
h3 {
	font-size:12px;
}
#gigs ul li  {
	font-size:8px;
	padding: 5px;
}
}

@media screen and (max-width: 400px) {
	h1  {
	font-size:25px;
	}
h2  {
	font-size:15px;
	}
h3 {
	font-size:10px;
}

}

